* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(../image/natural.4.jpg);
   background-attachment: fixed;

}

.box {

    
    width: 397px;
    height: 400px;
    float: left;
    margin: 30px;
    border: 2px solid black;
}

.img-box {
    width: 394px;
    height: 300px;
    background-image: url(../image/car.1.webp);
    background-size: cover;
    background-position: center center;


}

.img-box-1 {
    width: 394px;
    height: 300px;
    background-image: url(../image/car.2.webp);
    background-size: cover;
    background-position: center center;


}

.img-box-2 {
    width: 394px;
    height: 300px;
    background-image: url(../image/car.3.webp);
    background-size: cover;
    background-position: center center;

}



.desc-box {
    width: 395px;
    height: 97px;
    padding: 20px;
    border: 2px solid black;
    background-color: #fff;

}


.desc-box-1 {
    width: 395px;
    height: 97px;
    padding: 20px;
    border: 2px solid black;
    background-color: #fff;

}


.desc-box-2 {
    width: 395px;
    height: 97px;
    padding: 10px;
    border: 2px solid black;
    background-color: #fff;

}

p{
    color: #fff;
}


.box1{
    background-color: red;
    border: 2px solid black;
    float: left;
    width: 400px;
    height: 400px;
    margin: 30px;
}






